<script>
   //imports
   import { area } from "d3-shape";
   import { scaleLinear, scaleTime } from "d3-scale";
   import { extent,max } from "d3-array";
   //export variables
   export let data = [];
   let length=data.length*0.6;
   let time =extent(data.map(d => new Date(2014,12,d.day,d.hour)));
   //scale
   const xScale = scaleTime().range([0,length]).domain(time);
   const yScale = scaleLinear().range([0,50]).domain([0, max(data, (d) => Math.max(d.total_electrity, d.total_gas))]);
   //drawing
   const EArea = area().x(d => xScale(new Date(2014,12,d.day,d.hour))).y0(0).y1(d => - yScale(d.total_electrity));
   const GArea = area().x(d => xScale(new Date(2014,12,d.day,d.hour))).y0(0).y1(d => yScale(d.total_gas));

</script>
   <g>
   <path  fill="blue" fill-opacity="0.5" d={EArea(data)}/>
   <path fill="red" fill-opacity="0.5" d={GArea(data)}/>
   <line x1="0" x2="{length}" y1="0" y2="0" />
</g>
   <text x="40" y="20" fill="blue" style="font-size:15px">Gas</text>
   <text x="40" y="40" fill="red" style="font-size:15px">Electricity</text>
