<script>
    import { scaleLinear } from 'd3-scale'
    import { area, line } from 'd3-shape'
    import { extent } from 'd3-array'
    //export
    export let data = [];
    export let index = null;
    export let accross_all = null;

    //cost
    let thick_area;
    const datalength=data.length-1
    const width = 600;
    const height = 250;
    const margin = { top: 10, right: 10, bottom: 10, left: 10 };
    const innerWidth = width - margin.left - margin.right;
    const innerHeight = height - margin.top - margin.bottom;
    
    //scale
    const lineHeight = scaleLinear().range([1, 20]).domain(extent(data.map(d => d.total_heating_energy)));
    const lineWidth = scaleLinear().range([0, innerWidth]).domain([0, datalength]);

    //func1,func2,func3
    function reloadArea(_) {
        thick_area = area().x(function(_, i) { return lineWidth(i) }) 
            .y0(function(d) {
                if(accross_all)
                    return -lineHeight(d.total_heating_energy)*1 + innerHeight / 2
                else
                    return -lineHeight(d.total_heating_energy)/4 + 14 * (index + 1)
            }) 
            .y1(function(d) {
                if(accross_all)
                    return lineHeight(d.total_heating_energy)*1 + innerHeight / 2
                else
                    return lineHeight(d.total_heating_energy)/4 + 14 * (index + 1)
            })
    }
    $: reloadArea(data);
</script>

<path class="area" fill="black" d="{thick_area(data)}" />

 