<script>
    import {scaleRadial,scaleLinear } from "d3-scale";
    import { areaRadial } from "d3-shape";
    import { extent } from 'd3-array';

    export let data = [];
    export let city = null;
    let radius = 50;
    let filtered_data = data.filter((d)=>d.city==city);

    const width = 600;
    const height = 250;
    
    let week=extent(filtered_data, (d)=>d.week);
    let heating=extent(filtered_data, (d)=>d.heating)
    let cooling=extent(filtered_data, (d)=>d.cooling)
    //get heatArea and coolArea
    let hScale = scaleRadial().domain(heating).range([0, radius]);
    let cScale = scaleRadial().domain(cooling).range([0, radius]);

    let hArea = areaRadial().angle(d => scaleLinear().range([0, 2*Math.PI]).domain(week)(d.week)).outerRadius((d)=>hScale(d.heating));

    let cArea = areaRadial().angle(d => scaleLinear().range([0, 2*Math.PI]).domain(week)(d.week)).outerRadius((d)=>cScale(d.cooling));

</script>

<svg {width} {height}>
    <g transform="translate({580/4}, {230/1.7})">  
        <circle cx=0 cy=0 r={radius} stroke="black" fill="white"/> 
        <line x1=0 y1={-radius} x2=0 y2={radius} stroke="black" stroke-width=1/>
        <line x1={-radius} y1=0 x2={radius} y2=0 stroke="black" stroke-width=1/>
        <text class="legend" transform="translate(-5,{radius+15})">6</text>
        <text class="legend" transform="translate(-5,{-radius-5})">0</text>
        <text class="legend" transform="translate({-radius-15},5)">9</text>
        <text class="legend" transform="translate({radius+10},5)">3</text>
        <path class="heat" d={hArea(filtered_data)} fill="red" stroke="red" fill-opacity="0.2"/>
        <path class="cool" d={cArea(filtered_data)} fill="blue" stroke="blue" fill-opacity="0.2"/>
        <text x={-580/15} y={-230/3}>{city} <br/></text>
        <text x="20" y="70" fill="blue" style="font-size:10px">cool</text>
        <text x="20" y="60" fill="red" style="font-size:10px">Heat</text>
    </g>
</svg>



