<script>
  import { json } from "d3-fetch";
  import { onMount } from "svelte";
  import Line from "./_design_1_line.svelte";

    // Size and margins

  let mydataset = null;
  let select = null;
  let Btypes = null;
  let cities = ['Baltimore', 'Chicago', 'Los Angeles']
  let selectedcity = cities[0];
  let buildingtotal = 'false';
  let btypedata = [];
  
  const wi = 600;
  const hi = 270;
  const mar = { top: 10, right: 10, bottom: 10, left: 10 };
  const iw = wi - mar.left - mar.right;
  const iH = hi - mar.top - mar.bottom;

  onMount(async () => {
    let json_data = await json("/data/hourly_heating_december.json");
    mydataset = json_data.sort((a, b) => {a.day < b.day && a.hour < b.hour})
    Btypes = [...new Set(mydataset.map(d => d.buildingtype))]
    filt()
  });

  function filt (_) {
    if(!mydataset)
      return;
    select = mydataset.filter(d => d.city == selectedcity)
  }

  function buildBuildingTypeData(_) {
    if(!mydataset)
      return;
    btypedata = Btypes.map(type => {
      return select.filter(d => d.buildingtype == type)
    })
  }

  $: filt(selectedcity);
  $: buildBuildingTypeData(buildingtotal);
  $: buildBuildingTypeData(select)
</script>

<style>
  .myDiv{
  border: 5px outset rgb(111, 70, 70);
  background-color: lightblue;
  text-align: center;
  }
  svg {
    border: 1px solid black;
    border-radius: 3px;
  }
</style>


<div class="myDiv">
  {#if !mydataset}
  <p>Loading the data, please wait...</p>
  {:else}
  <svg width={wi} height={hi}>
    <g transform="translate({mar.left}, {mar.top})">
      {#if buildingtotal == 'false'}
        {#each btypedata as data, i}
          <Line data={data} index={i}></Line>
        {/each}
      {:else}
        <Line data={select} accross_all=true ></Line>
      {/if}
      
    </g>
  </svg>

  <div class="col">
    <div class="myDiv">
      <select id="continent-select" class="form-select" bind:value={buildingtotal}>
        <option value=true>Across Building Types</option>
        <option value=false>Within Building Types</option>
      </select>
    </div>
    <div class="col-6">
      <select id="continent-select" class="form-select" bind:value={selectedcity}>
        {#each cities as c}
          <option value={c}>{c}</option>
        {/each}
      </select>
    </div>
  </div>
  {/if}
</div>



