<script>
  import { json } from "d3-fetch";
  import { onMount } from "svelte";
  import Circle from './_design_2_circle.svelte';
//sss
let mydata = null;
  onMount(async () => {
    mydata = await json("/data/daily_heating_cooling.json");
});
</script>

{#if !mydata}
  <p>Loading data...</p>
{:else}
  <Circle data={mydata} city={'Chicago'}/>
  <Circle data={mydata} city={'Baltimore'}/>
  <Circle data={mydata} city={'Los Angeles'}/>
{/if}
  
