<script>
  
  import { json } from "d3-fetch";
  import { onMount } from "svelte";
  import Leaf from './_design_3_tree.svelte';
  // Size and margins
  let data = null;
  const weeks = [52,51,50,49,48];
  const width = 500;
  const height = 600;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = 480;
  const innerHeight = height - margin.top - margin.bottom;
  //load data
  onMount(async () => {
    data = await json("/data/hourly_electricity_vs_gas_december.json")});
  //function
   function func1(myweek) {return data.filter(d => d.week == myweek);}

</script>
 
  {#if !data}

    <p>Loading data...</p>

  {:else}

      <svg {width} {height}>
        <g transform="translate({10}, {10})">
          <line stroke="black" stroke-width=2  x1="{innerWidth/2}" y1="80" x2="{innerWidth/2}" y2="420" />
    {#each weeks as wk,i }
      {#if i%2 == 0}
    <g transform="translate({innerWidth/2 },{100+i*70}) rotate(-2)">
      <Leaf data={func1(wk)}/>
    </g>
      {:else} 
      <g transform="translate({innerWidth/2 },{100+i*70}) scale(-1,1) rotate(-13)">
        <Leaf data={func1(wk)}/>
      </g> 
      {/if}
    {/each}
    <text x="{innerWidth*0.80}" y="10" text-anchor="start" style="font-size: 13;">2014_12_Baltmore</text>
      </g></svg>{/if}
      
      

