<script>
  let clicked = false;
</script>

<div style = "text-align:center">
  <button class="btn btn-primary" on:click={() => (clicked = true)}>
    click here
  </button>
  <!--  -->
  <p>
      {#if clicked}
        You have clicked the button!
      {:else}
        You have to click the button!
      {/if}
  </p>
</div>
