<script>
  import { range } from "d3-array";
  
  // Properties
  export let selectedContinent = "all";
  export let selectedYear = 1800;
  export let data = [];
  const continents = ["all", "europe", "asia", "americas", "africa"];
  let stopped = true;
  let slider;
  // console.log(data) //{countries: Array(254), year: '2000'}
  
  
  function sliderValue(){
    if (selectedYear >= 2014) {selectedYear = 1800}
    else{selectedYear++}
  }
  const handleClick = () => {
    if (stopped) {
      slider = setInterval(sliderValue, 100);
      stopped = false;
    } else{
      stopped = true;
      clearInterval(slider);
    }
  }
  const reset = () => {
    selectedYear = 1800;
    clearInterval(slider)
    stopped = true;
  }
  
  </script>
  
  <div class="row">
    <!--  -->
    <div class="col-4">
      <button on:click={handleClick} type="button" class="btn btn-primary">{stopped ? 'Start': 'Stop'}</button>
      <button on:click={reset} type="button" class="btn btn-primary">Reset</button>
    </div>
  
    <div class="col-5">
      <label class="form-label col-sm-10">
        Year: {selectedYear}
        <input type="range" class="form-range" min="1800" max="2014" step="1" bind:value={selectedYear}>
      </label>
    </div>
  
    <div class="col-3">
      <select id="continent-select" class="form-select" bind:value={selectedContinent}>
        {#each continents as continent}
          <option>{continent}</option>
        {/each}
      </select>
    </div>
  </div>
  