<script>
  import { json } from "d3-fetch";
  import { onMount } from "svelte";
  import Controls from "./_ex_3_controls.svelte";
  import Scatterplot from "./_ex_3_scatterplot.svelte";
  
  // Load the data
  let data = null;
  onMount(async () => {
    data = await json("/data/gapminder.json");
  });

  let selectedContinent = 'all';
  let selectedYear = 1800; 
  let selectContinent;

  function extract_data (data, selectedContinent, selectedYear) { 
    const selectYear = data.filter(d => d.year == selectedYear)
    if (selectedContinent == 'all') {
      selectContinent = selectYear[0]['countries'];
    } else {
      selectContinent = selectYear[0]['countries'].filter(d => d.continent == selectedContinent);
    };
    // console.log(selectContinent);
  return selectContinent.filter(d => d.income != null && d.life_exp != null);
  }

</script>

{#if !data}
  <p>Loading the data, please wait...</p>
{:else}
  <div>
    <!-- <Scatterplot data={data[0]['countries']} /> -->
    <Scatterplot data={extract_data(data, selectedContinent, selectedYear)} />
    <Controls bind:selectedYear= {selectedYear} bind:selectedContinent={selectedContinent} {data} />
  </div>
{/if}
