<script>
  import { csv } from "d3-fetch";
  import { onMount } from "svelte";
  import Scatter from "./_ex_4_scatter.svelte";

  // Load the data
  let data = null;
  onMount(async () => {
    data = await csv("/data/cars-2.csv");
  });

  // Configurations
  const s1 = {
    x: (d) => +d.Horsepower,
    y: (d) => +d.Acceleration,
    xLabel: "Horsepower",
    yLabel: "Acceleration"
  };
  const s2 = {
    x: (d) => +d.Displacement,
    y: (d) => +d.Miles_per_Gallon,
    xLabel: "Displacement",
    yLabel: "Miles per Gallon"
  };

  let globalSelection = [];
  let localSelection = [];
  let selectedPoints = [];
  
  $: globalSelection = localSelection.map((l,r)=> {
    // console.log(selectedPoints[r])
    return selectedPoints[r]==true && l == true});
  
</script>

{#if !data}
  <p>Loading the data, please wait...</p>
{:else}
  <Scatter bind:localSelection={localSelection} {globalSelection} {data} {...s1} />
  <Scatter bind:localSelection={selectedPoints} {globalSelection} {data} {...s2} />
{/if}
