<script>
  import {scaleBand, scaleLinear} from 'd3-scale';
  import { axisBottom, axisLeft } from 'd3-axis';
  import { select } from 'd3-selection';

  // Dimensions
  const width = 600;
  const height = 300;
  const margin = { top: 10, right: 10, bottom: 30, left: 60 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const data = [
    { service: "Netflix", viewers: 2.9 },
    { service: "Amazon Prime Video", viewers: 1.3 },
    { service: "Disney+", viewers: 2.1 },
    { service: "Hulu", viewers: 0.9 },
    { service: "Apple TV", viewers: 1.1 },
    { service: "Rakuten", viewers: 0.4 }
  ];

  const xTicks = ["Netflix", "Amazon Prime Video", "Disney+", "Hulu", "Apple TV", "Rakuten"];
  const yTicks = [0.0, 0.2, 0.4, 0.6, 0.8, 1.0, 1.2, 1.4, 1.6, 1.8, 2.0, 2.2, 2.4, 2.6, 2.8, 3.0];
  
  // x & y scales margin.left, width - margin.right height - margin.bottom, margin.top
  let myScale = scaleLinear().domain([0, xTicks.length]).range([margin.left+10, innerWidth]);
  let xScale = scaleBand().domain("Netflix, Amazon Prime Video, Disney, Hulu, Apple TV, Rakuten".split(', ')).range([margin.left, innerWidth]).paddingInner(0.1).paddingOuter(0.1).align(0.5);
  let yScale = scaleLinear().domain([0, 3]).range([innerHeight, margin.top]);
  let barWidth = innerWidth / (xTicks.length + 2);

  // add the x-axis
  function x_axis(x) {axisBottom(xScale).ticks()(select(x))};
  function y_axis(y) {axisLeft(yScale)(select(y))};
</script>

<!-- svelte-ignore component-name-lowercase -->
<svg viewbox="0 0 {width} {height}" style="max-width: {width}px">
   <g transform={`translate(${margin.left},${margin.top})`}>
    {#each data as dp, idx} 
      <!-- add y-axis -->
      <g transform="translate({innerWidth/width-2},{innerHeight/width-1})" use:y_axis></g>
      <!-- add x-axis -->
      <g transform="translate(-{margin.left},{innerHeight})" use:x_axis>
        <text style="text-anchor:middle" x={barWidth/2} y=-4>{xTicks[idx]}</text>
      </g>
      <!-- add barchart -->
      <g transform="translate(-{margin.left},0)">
          <rect style="fill:steelblue" x={myScale(idx)} y={yScale(dp.viewers)} width={barWidth-4} height={yScale(0)-yScale(dp.viewers)}></rect>
      </g>
    {/each}
   </g>
 </svg>

 
