<script>
    import Scatterplot from './_ex_7_scatterplot.svelte';
    import {json} from 'd3-fetch';
    import {onMount} from 'svelte';

    let data = null;
    let resp = null;
    onMount(async () => {
        resp = await json('../data/gapminder.json');
        // data = resp.slice(1,20) // test to see console output
        data = resp.find(item => item.year == '1800').countries
        console.log(data)
    });

</script>

{#if data}
    <Scatterplot data={data}/>
{:else}
    <p>waiting for data to load, please wait...</p>
{/if}
